/*
Name: Sumit Jain 
File: styles.css
Date: 14 October 2023
Description: This is a css file for our index html page
*/
/*
CSS VALIDATION PASSED SUCCESSFULLY 
<p>
    <a href="http://jigsaw.w3.org/css-validator/check/referer">
        <img style="border:0;width:88px;height:31px"
            src="http://jigsaw.w3.org/css-validator/images/vcss"
            alt="Valid CSS!" />
    </a>
</p>
*/

html {
  font-family: sans-serif;
}

/* Your CSS below here */

body {
  font-size: 1.5rem;
}

div { 
  display: flex;
  align-items: center;
  margin: 0 auto;
  border-radius: 30px;
  color: #fff;
  text-shadow: 2px 2px #000;
  border: 1px solid rgb(168, 11, 11);
  padding: 150px;
  width: 200px;
  height: 100px;
  border-width: 4px;
  border-style: solid;
  background: red;
  /*border-image: linear-gradient(to bottom right, rgb(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 1));*/
  background-image: linear-gradient(
    to bottom right,
    rgba(0,0,0,0),
    rgba(0,0,0,0.2) 30%,
    rgba(0,0,0,0.2)
  );
  box-shadow: 
    0 0 10px 5px #000,
    inset -2px 0px 5px black,
    inset 0px 5px 5px 1px white,
    inset 0px -5px 5px black;
}